@import "colors.css";

* {
  font-family:"Nunito","JetBrains Mono Nerd Font";
  font-size: 12.5px;
  font-weight: 700;
  border: none;
  text-shadow: none;
  color:#dcd8ff;
  padding: 0px;
  margin: 0px;
}

#waybar label {
  margin-bottom: -1.5px;
  margin-top: 1px;
}

#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#waybar > box {
  background-color: rgba(0, 0, 0, 0);
  padding: 14px 0px;
}

#workspaces button {
  padding: 0px 10px; 
  color: @foreground-blue;
  min-height: 0px;
  min-width: 0px;
}

#workspaces button.active {
  border-radius: 6px;
}

#workspaces button:hover {
  background-color: alpha(@grey, 0.6);
  color: alpha(@foreground-blue, 0.2);
}

#workspaces button.urgent {
  border-bottom: 2px solid @white;
  border-radius: 6px;
}

#custom-gpu {
  padding: 0px 9px 0px 6px;
}

#custom-cpu {
  padding: 0px 10px 0px 0px;
}

#cpu {
  padding: 0px 0px 0px 0px;
}

#memory {
  padding: 0px 1px 0px 0px;
}

#custom-mpris-scroll {
  padding: 0px 9px 0px 0px;
  font-size: 11.6px;
  font-family: "JetBrains Mono Nerd Font";
}

#clock {
  padding: 0px 3px;
} 

#clock.simple {
  padding: 0px 3px;
  font-size: 12.5px; 
}

#custom-swaync {
  padding: 0px 0px 0px 6px;
  font-size: 12.5px;
}

#custom-cava {
  padding: 0px 9px 0px 5px;
  margin-bottom: 0px;
  margin-top: -9px;
}

#bluetooth {
  padding: 0px 6px 0px 2px;
}

#network {
  padding: 0px 8px 0px 1px;
}

#network.disconnected {
  padding: 0px 7px 0px 3px;
}

#pulseaudio {
  padding: 0px 2px;
}

#pulseaudio.output {
  padding: 0px 4px 0px 1px;
}

#pulseaudio.output.muted {
  color: @red;
}

#pulseaudio.input {
  padding: 0px 4px 0px 4px;
}

#pulseaudio.input.source-muted {
  color: @red;
  padding: 0px 4px 0px 1px;
}

#language {
  padding: 0px 1px 0px 4px;
}

#tray {
  padding: 0px 2px 0px 4px;
}

#custom-noscreenshare {
  font-size: 15.5px;
  padding: 0px 8px 0px 5px;
}

#custom-gamemode {
  font-size: 16px;
  padding: 0px 10px 0px 4px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#custom-clipboard {
  font-size: 15.4px;
  padding: 0px 10px 0px 5px;
}

#custom-power {
  font-size: 15.4px;
}

/* Group section */
#hardware {
  background-color: @background;
  border-radius: 6px;
  padding: 0px 1px 0px 2px;
}

#center {
  background-color: @background;
  border-radius: 6px;
  padding: 0px 7px;
}

#righty1 {
  background-color: @background;
  border-radius: 6px;
  padding: 0px 7px;
}

#righty2 {
  background-color: @background;
  border-radius: 6px;
  padding: 0px 8px;
  margin-left: 12px;
}

#righty3 {
  background-color: @background;
  border-radius: 6px;  
  padding: 0px 4px;
  margin-left: 12px;
}

.modules-right {
  padding: 0px 20px;
}

.modules-left {
  padding: 0px 20px;
}

label:focus {
  background-color: #222020;
}
